.cart{
    margin: 100px;
    width: 100%;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
}

.cart-items-item{
    margin: 10px 0px;
    color: black;
}

.cart-items-item img{
    width: 50px;
}

.cart hr{
    height: 1px;
    background-color: #e2e2e2;
}

.cart-items-item .cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.cart-total hr{
    margin: 10px 0px;
}

.cart-total button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-total h2{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.amount-to-pay input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.cart h2{
    align-self: center;
}

.cart-total-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.cart-total-details p{
    margin:0px 10px 0px 0px
}