h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 300;
  padding-left: 30px;
  padding-bottom: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  height: 100vh;
  font-family: "Space Mono", monospace;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(240, 244, 247);
  background: linear-gradient(-70deg, #202020, #635e5e);
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 90%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 8px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 20px 30px 30px 30px;
  margin: 20px;
}

.card-number {
  font-size: 20px;
  font-family: "Space Mono", monospace;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background: transparent;
  border: none;
  color: #fff;
  padding: 10px 0;
}

.card-number::placeholder {
  color: #b5b5b5;
}

.container input::placeholder {
  color: #b5b5b5;
  font-family: "Space Mono", monospace;
}

.name,
.expiration-date {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.container input {
  font-family: "Space Mono", monospace;
  border: none;
  font-size: 16px;
  height: 60px;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 5px 0;
}

.container label {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-family: "Space Mono", monospace;
  pointer-events: none;
  display: block;
  padding-bottom: 2px;
}

.card-name {
  color: white;
  font-size: 16px;
  height: 26px;
  width: 90%;
  border-bottom: 1px solid white;
}
button {
  padding: 5px;
  border-radius: 15px;
  color: white;
  background-color: grey;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .card {
    width: 80%;
    padding: 30px 35px 35px 35px;
  }

  h1 {
    font-size: 30px;
    padding: 25px;
  }

  .card-number,
  .card-name {
    font-size: 30px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    padding: 20px 25px 25px 25px;
  }

  h1 {
    font-size: 24px;
    padding: 20px;
  }

  .card-number,
  .card-name {
    font-size: 18px;
    width: 90%;
  }
}

@media (max-width: 468px) {
  .card {
    width: 90%;
    padding: 20px 25px 25px 25px;
  }

  h1 {
    font-size: 20px;
    padding: 10px;
  }

  .card-number,
  .card-name {
    font-size: 10px;
    width: 90%;
  }
}

/* .add{
    width: 80vw;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.add form{
    gap: 20px;
    border: 2px solid gray;
    padding: 30px;
    margin: 30px;

}

.add-product-name, .add-product-expiry-date, .add-product-card-name{
    width: max(20%, 180px);
   
}

.add-product-name input, .add-product-expiry-date input, .add-product-card-name input{
    padding: 10px;
}

.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.add-container{
    display: flex;
} */
