
.card-display{
    margin-top: 30px;
    width: 80vw;
    
}

.card-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color : whitesmoke
}

.card-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    margin: 30px;
    gap: 30px;
    row-gap: 20px;
}

/* @media (max-width:375px){
    .card-display-list{
        grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
        margin: 10px;
        padding: 0px 0px 5px 0px;
    }
    
}

@media (max-width:900px){
    
} */